body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    color: #333;
    margin-bottom: 20px;
    animation: slideInDown 0.5s ease-out;
}

@keyframes slideInDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

input[type="file"] {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    animation: slideInLeft 0.5s ease-out;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: slideInRight 0.5s ease-out;
}

button:hover {
    background-color: #45a049;
}

#downloadLink {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    animation: slideInLeft 0.5s ease-out;
}

#downloadLink:hover {
    background-color: #2980b9;
}

#imageContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: slideInUp 0.5s ease-out;
}

#imageContainer img {
    margin: 10px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

#imageContainer img:hover {
    transform: scale(1.1);
}